
button{
    border: none;
    font-size: 20px;
    padding: 7px 20px 6px 20px;
    background-color: #ccc;
    margin: 4px;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    font-weight: bold;
}
button.active{
    background-color: green;
    color: #fff;
}
